<div class="container pt-3">

  <!-- Row 1: Today's Trips -->
  <div class="row shadow mb-4 py-3">
    <div class="col-12 d-flex justify-content-between align-items-center mb-3">
      <h1 class="mb-0">Today</h1>
      <input type="button" value="Add Trip" class="btn btn-outline-primary" id="add_trip_btn" data-bs-toggle="modal" data-bs-target="#TripModel">
    </div>

    <div class="col-12 table-responsive">
      <table class="table table-borderless table-hover">
        <thead>
          <tr>
            <th scope="col">Vehicles</th>
            <th scope="col">Status</th>
            <th scope="col">Client</th>
            <th scope="col">Start Km</th>
            <th scope="col">End Km</th>
            <th scope="col">Total Km</th>
            <th scope="col">Start Point</th>
            <th scope="col">End Point</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
         <% if @trips.present? %>
            <% @trips.where.not(trip_status:"Enqueue").each_with_index do |trip, index| %>
          <tr>
            <td><%= trip.date %></td>
            <td><%= trip.vehicle.number %></td>
            <td><%= trip.client.name %></td>
            <td><%= trip.driver.name %></td>
            <td><%= trip.start_km %></td>
            <td><%= trip.end_km %></td>
            <td><%= trip.start_loc %></td>
            <td><%= trip.end_loc %></td>
            <td><%= trip.trip_status %></td>
            <td>
              <a href="#" class="me-2">Edit</a>
              <a href="#">Delete</a>
            </td>
          </tr>
          <% end %>
          <% else %>
            <tr>
              <td colspan="10" class="text-center">No Trip Details Found</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Row 2: Upcoming Trips -->
  <div class="row shadow mb-4 py-3">
    <div class="col-12 mb-3">
      <h1>Awaiting Trips</h1>
    </div>

    <div class="col-12 table-responsive">
      <table class="table table-borderless table-hover">
        <thead>
          <tr>
            <th scope="col">Vehicles</th>
            <th scope="col">Client</th>
            <th scope="col">Driver</th>
            <th scope="col">Start Km</th>
            <th scope="col">End Km</th>
            <th scope="col">Total Km</th>
            <th scope="col">Start Point</th>
            <th scope="col">End Point</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
         <tbody>
         <% if @queue_trips.present? %>
            <% @queue_trips.each_with_index do |trip, index| %>
          <tr>
            <td><%= trip.date %></td>
            <td><%= trip.vehicle.number %></td>
            <td><%= trip.client.name %></td>
            <td><%= trip.driver.name %></td>
            <td><%= trip.start_km %></td>
            <td><%= trip.end_km %></td>
            <td><%= trip.start_loc %></td>
            <td><%= trip.end_loc %></td>
            <td><%= trip.trip_status %></td>
            <td>
              <a href="#" class="me-2">Edit</a>
              <a href="#">Delete</a>
            </td>
          </tr>
          <% end %>
          <% else %>
            <tr>
              <td colspan="10" class="text-center">No Trip Details Found</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>



  <div class="row shadow mb-4 py-3">
    <div class="col-12 mb-3">
      <h1>Previous Trips</h1>
    </div>

    <div class="col-12 table-responsive">
      <table class="table table-borderless table-hover">
        <thead>
          <tr>
            <th scope="col">Vehicles</th>
            <th scope="col">Client</th>
            <th scope="col">Driver</th>
            <th scope="col">Start Km</th>
            <th scope="col">End Km</th>
            <th scope="col">Total Km</th>
            <th scope="col">Start Point</th>
            <th scope="col">End Point</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
         <tbody>
          <% if @previus_trips.present? %>
            <% @trips.each_with_index do |trip, index| %>
              <tr>
                <td><%= trip.date %></td>
                <td><%= trip.vehicle.number %></td>
                <td><%= trip.client.name %></td>
                <td><%= trip.driver.name %></td>
                <td><%= trip.start_km %></td>
                <td><%= trip.end_km %></td>
                <td><%= trip.end_km.to_i - trip.start_km.to_i if trip.start_km && trip.end_km %></td>
                <td><%= trip.start_loc %></td>
                <td><%= trip.end_loc %></td>
                <td><%= trip.trip_status %></td>
                <td>
                  <a href="<%= edit_trip_path(trip) %>" class="me-2">Edit</a>
                  <%= link_to "Delete", trip_path(trip), method: :delete, data: { confirm: "Are you sure?" } %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="10" class="text-center">No Trip Details Found</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>



</div>
<div class="modal fade" id="TripModel" tabindex="-1" aria-labelledby="TripModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="TripModalLabel">New Trip</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <%= form_with url: admin_add_trip_path, id: "trip_form", method: :post do |form| %>
        <div class="modal-body">
          <%= form.hidden_field :trip_id, id: "trip_id", value: "" %>
          <div class="mb-3">
            <%= form.label :Date, "Date" %>
            <%= form.date_field :date, class: "form-control", value: Date.today %>
          </div>
          <!-- Vehicle select -->
          <div class="mb-3">
            <%= form.label :vehicle_id, "Vehicle" %>
              <%= form.select :vehicle_id, 
                (@vehicles.present? ? @vehicles.map { |v| ["#{v.name} - #{v.number}", v.id] } : [['No vehicles available', nil]]),
                { prompt: "Select Vehicle" }, 
                class: "form-control" %>
          </div>

          <!-- Driver select -->
          <div class="mb-3">
            <%= form.label :driver_id, "Driver" %>
           <%= form.select :driver_id, 
              (@drivers.present? ? options_from_collection_for_select(@drivers, :id, :name) : [['No drivers available', nil]]), 
              { prompt: "Select Driver" }, 
              class: "form-control"  %>

          </div>

          <!-- Client select -->
          <div class="mb-3">
            <%= form.label :client_id, "Client" %>
            <%= form.select :client_id, options_from_collection_for_select(@clients, :id, :name), { prompt: "Select Client" }, class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= form.label :start_km, "Start KM" %>
            <%= form.number_field :start_km, class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= form.label :start_location, "Start Location" %>
            <%= form.text_field :start_location, class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= form.label :end_km, "End KM" %>
            <%= form.number_field :end_km, class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= form.label :end_location, "End Location" %>
            <%= form.text_field :end_location, class: "form-control" %>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= form.submit "Save Trip", class: "btn btn-primary" %>
        </div>
      <% end %>

    </div>
  </div>
</div>


